/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

#newPoll, #polllink {
  text-align: center;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  display: inline-block;
  width: 50%;
  max-width: 680px;
  text-align: center;
}

.container {
  text-align: center;
}




